@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;700&display=swap');


/* colors I like */
/* Black: 2b2b2b
Red: a31621
Dark Teal:  0e3a58
Green: 00FF33
*/

/* COLORS */

/* :root {
  --accent-color: #a31621;
  --background-color: #1d1d1d;
  --white-color: #ccc;
  --dark-contrast: #2b2b2b;
  --med-contrast: #4a4a4a;
  
  --light-contrast: #777777;
} */

:root {
  --accent-color: #C29250;
  --background-color: #232734;
  --white-color: #D0BEA4;
  --dark-contrast: #353A4E;
  --med-contrast: #30616B;
  /* links */
  --light-contrast: #D6B6AB;
}


/* components */

a {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  color: var(--light-contrast);
  text-decoration: none;
}

a:hover {
  font-weight: 700;
  color: var(--accent-color);
}

button {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
}

html body{
  background-color: var(--background-color);
  color: var(--white-color);
  font-family: 'IBM Plex Mono';
  font-weight: 300;
 
  font-size: 16 rem;
}

img:hover {
    opacity: 0.3;
}

input {
  font-family: 'IBM Plex Mono';
  font-weight: 100;
}

select {
  font-family: 'IBM Plex Mono';
  font-weight: 100;
}

/* classes */
.add-remove-container {
  height: 1rem;
  display: flex;
  justify-content: flex-end;
  /* this means other things can go over it */
  right: 5px;
  top: 5px;
  align-items: center;
  margin: 1px;
}

.authors {
  height: 3rem;
  width: 100%;
  padding: 1rem;
  font-size: 0.8rem;
}

.book {
  align-items: center;
  background-color: var(--dark-contrast);
  border: 3px solid var(--dark-contrast);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  height: 100%;
}

.book.myBook {
  background-image: linear-gradient(
    181deg, var(--accent-color), var(--dark-contrast));
    border: 3px solid var(--accent-color);
    border-radius: 5px;
}

.book-add-remove {
  background-color: transparent;
  border: transparent;
}

.book-big {
  padding-top: 1rem;
}

.book-desc {
  border-top: 1px solid var(--med-contrast);
  border-bottom: 1px solid (var(--med-contrast));
}

.book-image-big {
  height: 20rem;
}

.books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.books-image {
  height: 20rem;
  /* margin-top: 8px;
  margin-bottom: 20px;
  border-radius: 5px; */
}

.books-image>img{
  height: 100px;
}

.button-search {
  /* background-image: linear-gradient(to bottom, var(--accent-color), var(--white-color)); */
  background-color: var(--accent-color);
  border: 1px solid var(--dark-contrast);
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  font-size: small;
}

.button-search>a {
  color: var(--background-color);
}
.button-search>a:hover {
  color: var(--dark-contrast);
}

.button-search:hover {
  color: var(--dark-contrast);
  font-size: larger;
}

.center {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* using this */
.center-text {
  text-align: center;
}

.container-small-margin {
  margin-left: 15px;
  margin-right: 15px;
}

.column-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-plus {
  color: var(--accent-color);
}

.footer {
  color: var(--light-contrast);
  font-size: medium;
}


.header {
  min-height: 15vh;
  background-color: var(--med-contrast);
}

img.logo {
  height: 7rem;
  margin-right: 20px;
}

img.logo:hover {
  opacity: 0.8;
}

/* This forces footer to bottom */
.main-container {
  min-height: 65vh;
}

.rating {
  /* align-items: baseline; */
  border-top: 1px solid var(--med-contrast);
  font-size: 2vmin; 
  height: 5rem;
  width: 100%;
}

.rating-user {
  border-top: 1px solid var(--med-contrast);
}

.search {
  width: 75%;
  /* max-width: 150px; */
  display: flex;
  justify-self: center;
  margin: 2rem;
}

.tag-button{
  border-radius: 10px;
  background-color: var(--white-color);
  color: black;
  font-size: 0.8rem;
  margin: 1rem;
}

.tags {
  border-top: 1px solid var(--med-contrast);
  border-bottom: 1px solid var(--med-contrast);
  width: 100%;
  height: 3rem;
}

.title {
  height: 15rem;
  font-size: 1rem;
  color: #ccc;
  /* top: 15px; */
}

/* .query{
  
} */

.user-button {
  background-image: linear-gradient(to bottom, var(--med-contrast), var(--dark-contrast));
  border: 1px solid var(--dark-contrast);
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  font-size: small;
}

.user-button>a {
  color: var(--white-color);
}
.user-button>a:hover {
  color: black;
}

.user-button:hover {
  color: black;
  font-size: larger;
}

.user-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ids */

#my-books-checkbox {
  font-family: 'IBM Plex Mono';
  font-weight: 300;
  color: var(--white-color);
  width: 7rem;
}

#root {
  font-size: 100%;
  height: 100vh;
}

#search-type {
  font-family: 'IBM Plex Mono';
  font-weight: 300;
  color: black;
  background-color: var(--light-contrast);
  border-radius: 2rem;
  width: 7rem;
}

/*  ------------Toggle button ------------*/
/* .toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

/* ball that slides */
/* .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggle-off-label {
  font-weight: 700;
}

.toggle > .input:checked ~ .toggle-on-label {
  font-weight: 700;
}

input:checked + .slider {
  background-color:rgb(247, 167, 167);
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */ 